{% extends "base.html" %}

{% block title %}
  Agregar Categoria
{% endblock %}

{% block content %}
  <h1>AGREGAR CATEGORIA</h1>


  {% if request.method == 'GET' %}
  <section class="container my-2 bg-dark w-50 text-light p-2">
    <form action="" method="POST" class="row g-3 p-3">
        {% csrf_token %}
        <div class="col-md">
            <label for="validationDefault01" class="form-label">Nombre de la categoria</label>
            <input type="text" class="form-control" name="name" required>
          </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">AGREGAR</button>
        </div>
      </form>
   </section>

   {% else %}
        <h2>CATEGORIA AGREGADA</h2>
    {% endif %}


    {% endblock %}
